{% extends 'base.html.twig' %}
    {% block title %}
        Formations
    {% endblock %}
    {% block header %}  
    {% endblock %}
    {% block body %}
         <h1>Cette page affichera la liste des formations de l'IUT</h1> 
    {% endblock %}